<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!-- <suite name="Automation Test Framework">
  <test thread-count="5" name="Automation Test Framework">
    <classes>
      <class name="com.framework.TestRunner.TestRunner"/>
    </classes>
  </test> 
  
  <listeners>
  	<listener class-name= "com.framework.Listeners.ITestListenerImpl">
  	</listener>
  </listeners> 
  
</suite> -->
<suite name = "Automation Test Framework" data-provider-thread-count="2">
	<test name = "Automation Test Framework">
		<classes>
      <class name="com.framework.Runner.TestRunner"/>
    </classes>
  </test> 
  
  <listeners>
  	<listener class-name= "com.framework.Listeners.ITestListenerImpl">
  	</listener>
  </listeners>
	
</suite>
